extends layout

block content
  h1= title

  if users
    table
      tr
        th No
        th First Name
        th Last Name
      each user, i in users
        tr
          td #{i+1}
          td #{user.firstname}
          td #{user.lastname}
